body {
    line-height: 2;
    background: #ff980091;
}

h1{ 
  text-align: center;
}
.element {
  background-color: #d48377;
  color: white;
  border:solid;
  font-size: 20px;
  padding: 20px;
}

.container {
  margin: 3rem;
  background: #fff;
  padding: 3rem;
  border: solid 0.01rem #000;
}
.extra-bold {
  font-weight: 900;
  font-size: 3rem;
}
.center{
  text-align: center;
}